@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/Proxima-Nova-Reg.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/Proxima-Nova-SBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/Proxima-Nova-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/Proxima-Nova-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body {
  font-family: 'Proxima Nova';
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

.color_light {
  color: #6d7783;
}

.color_dark {
  color: #222525;
}

.width_0 {
  width: 0%;
}

.width_10 {
  width: 10%;
}

.width_30 {
  width: 30%;
}

.width_50 {
  width: 50%;
}

.width_70 {
  width: 70%;
}

.width_100 {
  width: 100%;
}

#WEB3_CONNECT_MODAL_ID {
  font-weight: 600;
}

.walletconnect-modal__mobile__toggle {
  display: none !important;
}
