@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova&display=swap');

a {
  text-decoration: none;
}

.hide {
  display: none;
}

#WEB3_CONNECT_MODAL_ID {
  font-family: 'Proxima Nova', sans-serif;
}

.walletconnect-modal__mobile__toggle {
  display: none !important;
}
