.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 0px 8%;
  font-family: 'Proxima Nova', sans-serif;
}

.linkText {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  padding: 25px;
  opacity: 0.5;
}

.linkText:hover {
  opacity: 1;
}

.connect {
  border: 1px solid #e02097;
  border-radius: 25px;
  color: #e02097;
  padding: 7px 15px 7px 15px;
  font-size: 16px;
}

.connect:hover {
  color: #ffffff;
  background-color: #e02097;
}

.greeting {
  display: flex;
  align-items: center;
  opacity: 0.5;
}

.greeting:hover {
  opacity: 1;
}

.greeting p {
  font-size: 15px;
  color: #000000;
  padding: 13px;
}
